<footer>
    <div>
        <h1 class="text_footer">Институт компьютерных наук и технологий</h1>
        <p class="text_footer">Телефон:  +7 (342) 239-67-20</p>
    </div>
    <div class="right_footer">
        <div class="menu_footer">
            <a href="{{ url_for('info') }}">Общая информация</a>
        </div>
        <div class="menu_footer">
            <a href="{{ url_for('news') }}">Новости</a>
        </div>
        <div class="menu_footer">
            <a href="{{ url_for('teachers') }}">Преподаватели</a>
        </div>
        <div class="menu_footer">
            <a href="{{ url_for('contacts') }}">Контакты</a>
        </div>
    </div>
</footer>