{% extends "base/base.html" %}

{% block title %}Общая информация{% endblock %}

{% block content %}
    <h1>Институт компьютерных наук и технологий</h1>

    <h2>Общая информация</h2>
    <div class="text">
        <br>«Основной задачей ИКНТ является создание условий для получения знаний, 
        позволяющих нашим выпускникам найти направление деятельности 
        в большом мире информационных технологий 
        и полностью раскрыть свой интеллектуальный потенциал»
        <br>
        <br>Сергей Владимирович Автайкин, директор ИКНТ. 
        <div class="images">
            <img src="{{ url_for('static', filename='pictures/info1.jpg') }}" alt="ИКНТ">
            <img src="{{ url_for('static', filename='pictures/info2.jpg') }}" alt="ИКНТ">
        </div>    
    </div>
    
    <div class="description">
        <p>Институт компьютерных наук и технологий ПГНИУ создан в 2022 году, 
        как инструмент подготовки кадров для отрасли ИТ-технологий.</p>
        <p>Основной задачей ИКНТ является создание условий для получения знаний, 
        позволяющих нашим выпускникам найти направление деятельности 
        в большом мире информационных технологий и полностью раскрыть свой интеллектуальный потенциал.</p>
        <p>В Институте реализуются 
        <a href="http://www.psu.ru/fakultety/institut-kompyuternykh-nauk-i-tekhnologij/napravleniya-obrazovatelnoj-deyatelnosti" target="_blank">образовательные программы</a> 
        подготовки бакалавров, специалистов и магистров.</p>
        <p>Большое внимание в процессе обучения студентов уделяется формированию 
        практико-ориентированных навыков и применению полученных знаний, 
        более 30% учебного времени отводится на практические занятия и стажировки. 
        На практиках, проводимых как в ПГНИУ, так и в ИТ-компаниях, 
        студенты закрепляют приобретенные навыки, решают практические задачи из разных предметных областей, 
        формируют навыки работы в команде и проектной деятельности.</p>
    </div>

    <div class="text">
        <h1>Поступай правильно - 
            <br> поступай в ИКНТ!</h1>
        <div class="images">
            <img src="{{ url_for('static', filename='pictures/info1.jpg') }}" alt="ИКНТ">
            <img src="{{ url_for('static', filename='pictures/info2.jpg') }}" alt="ИКНТ">
        </div>    
    </div>

{% endblock %}