{% extends "base/base.html" %}

{% block title %}Новости{% endblock %}

{% block content %}
    <h1>Институт компьютерных наук и технологий</h1>

    <h2>Новости</h2>
    <div class="container">
        {% for new in news %}
            <div class="card">
                <img src="{{ url_for('static', filename=new.img) }}" alt="{{ new.title }}" class="card-image">
                <div class="card-description">
                    <div class="card-title">{{ new.title }}</div>
                    <div class="card-text">{{ new.description_new }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}